.add-btn {
    position: fixed;
    top: 50px;
    right: 50px;
    background-color: rgb(47, 117, 237);
    padding: 3px;
    border-radius: 4px;
    width: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.add-btn a {
    color: white;
    text-decoration: none;
}

.m-20 a {
    margin: 20px;
}